@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap");






div {
  margin-top: 35px;
  margin-bottom: 35px;

}

.text {
  font-family: "Archivo", sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
}


.form {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 1.5vw;
}

.radio {
  margin-top: -1.5vw;
}