@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap');

h1{
    font-size: 3rem;
    font-family: ;
}
.body{
    font-size: 16px;
    &__title{
        color: #FFAC2F;
        font-family: 'Archivo', sans-serif;
    }
    &__form{

    }
}